  <!-- MAIN CONTENT -->
  <div class="main_content contentSection scroll_bar">



    <!-- Dashboard -->
    <div class="content" data-number="1">
        <div class="mb-4 d-flex justify-content-between">
            <h1 class="fs-18 fw-600 mb-0">Subject</h1>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
            </nav>
        </div>

        <div class="table_container table-responsive" style="display: block;">
            <div class="Officer_table">
                <div class="table_headings">
                    <h4 class="fs-20 fw-600 dark mb-0">Subject List</h4>
                    <div class="d-flex gap_30">
                        <form action="">
                        <div class="position-relative">
                            <input type="search" class="search_box search_bar" [(ngModel)]="search" placeholder="Search" name="search">
                            <i class="fi fi-br-search search_icon gray"></i>
                            <button (click)="getAllSubject()" class="btn"><i class="bi bi-search"></i></button>
                        </div>
                      </form>
                        <div class="select-btn ">
                            <button class="gap_6 primary_btn" data-bs-target="#addclass"
                                data-bs-toggle="modal">Add Subject </button>
                            <img src="assets/images/svg_img/plus.svg" class="add_btn">
                        </div>

                    </div>

                </div>
            </div>
            <div style="overflow-x:auto;">
                <table class="table mb-0" id="dtHorizontalExample" cellspacing="0" width="100%">
                    <thead>
                        <tr class="table_heading">
                            <th scope="col">
                                <label class="container">
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                            </th>
                            <th scope="col">Sr No.</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="bg_light">
                        <tr *ngFor="let subjects of subjectList;let i=index">
                            <td>
                                <label class="container">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </td>
                            <td>{{i+(pageIndex*pageSize)+1}}</td>
                            <td>{{subjects.subjectName}}</td>
                            <td>
                                <label class="switch" data-bs-target="#change_status"
                                    data-bs-toggle="modal" (click)="getStatus(subjects.subjectId,subjects.status)">
                                    <input type="checkbox" [checked]="subjects.status">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td>
                                <div class="d-flex gap_8">
                                    <a href="user-details.html" class="edit_icons" (click)="getSubject(subjects.subjectId)"
                                        data-bs-target="#editclass" data-bs-toggle="modal"><img
                                            src="assets/images/svg2/edit.svg" class="add_icons"></a>
                                    <a class="delete_icons" (click)="getId(subjects.subjectId)"><img
                                            src="assets/images/svg2/delete.svg"
                                            data-bs-target="#delete-modal" data-bs-toggle="modal"></a>
                                </div>
                            </td>
                        </tr>
                       
                    </tbody>
                </table>
                <mat-paginator *ngIf="subjectList.length!=0" [length]="length"
              [pageSize]="pageSize"
              (page)="handlePageEvent($event)"
              aria-label="Select page">
                  </mat-paginator>
                
            </div>
            <div *ngIf="subjectList.length==0" class="pt-10">
                <p class="noElement">Sorry, No Subject Added</p>
              </div>
        </div>
    </div>
</div>

    <!-- add in 20/03 -->
    <!-- ADD class MODAL  -->
    <div class="modal fade" id="addclass" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" aria-modal="true"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <h2 class="fs-20 fw-600 black mb-4">Add Subject</h2>
                    <button type="button" class="close_btn d-flex justify-content-end mb-2" data-bs-dismiss="modal"
                        aria-label="Close"><i class="fi fi-rr-cross-circle"></i></button>
                </div>
                <form [formGroup]="subjectForm" (ngSubmit)="addSubject()">
                <div class="modal-body p-0">
                    <div class="mb-4">
                        <div class="">
                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="modal_input_heading">Subject<span class="danger">*</span></label>
                                <input type="text" class="form-control profile_edit" placeholder="Enter class" formControlName="subjectName">
                            </div>
                            <div *ngIf="subjectName">
                                <small class="form-text text-danger"
                                    *ngIf="subjectName.errors?.['required'] && (subjectName.touched || subjectName.dirty)">This
                                    field is required</small>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-0 ">
                    <div class="select-btn ">
                        <button [disabled]="subjectForm.invalid" class="gap_6 primary_btn" data-bs-target="#addclass" data-bs-toggle="modal">Add</button>
                        <img src="assets/images/svg_img/plus.svg" class="add_btn">
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- ADD class MODAL  END -->

    <!-- edit class MODAL  -->
    <div class="modal fade" id="editclass" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" aria-modal="true"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <form [formGroup]="subjectForm" (ngSubmit)="updateSubject()">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <h2 class="fs-20 fw-600 black mb-4">Edit Subject</h2>
                    <button type="button" class="close_btn d-flex justify-content-end mb-2" data-bs-dismiss="modal"
                        aria-label="Close"><i class="fi fi-rr-cross-circle"></i></button>
                </div>
                <div class="modal-body p-0">
                    <div class="mb-4">
                        <div class="">
                            <div class="col-md-12 mb-3 ps-0 px-2">
                                <label for="" class="modal_input_heading">Subject<span class="danger">*</span></label>
                                <input type="text" class="form-control profile_edit" placeholder="Enter class" formControlName="subjectName">
                            </div>
                            <div *ngIf="subjectName">
                                <small class="form-text text-danger"
                                    *ngIf="subjectName.errors?.['required'] && (subjectName.touched || subjectName.dirty)">This
                                    field is required</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-0">
                    <div class="select-btn">
                        <button class=" gap_6 primary_btn" 
                             [disabled]="subjectForm.invalid" data-bs-dismiss="modal" aria-label="Close">Update</button>
                        <img src="assets/images/svg2/right.svg" class="add_btn">
                    </div>

                </div>
            </div>
        </form>
        </div>
    </div>
    <!-- edit MODAL  END -->


    <!-- DELETE MODAL -->
    <div class="modal fade" id="delete-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content delete_border_bottom">
                <div class="modal-header p-0 justify-content-center modal_top">
                    <img src="assets/images/temp_img/delete-back.png" class="delete_back">
                    <div class="mb-4">
                        <div class="mb-4 modaldelete_icon m-auto">
                            <img class="" src="assets/images/svg2/modal-delete.svg">
                        </div>
                        <h1 class="fs-26 fw-600 text_small mb_12 text-center" id="exampleModalToggleLabel2">Are you sure
                            want to delete subject?</h1>

                    </div>
                </div>

                <div class="modal-footer p-0 justify-content-center">
                    <div class="gap_20 d-flex">
                        <button class="no_btn" data-bs-dismiss="modal" aria-label="Close">No</button>
                        <button class="yes_btn " (click)="deleteSubject()" data-bs-dismiss="modal" aria-label="Close">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE MODAL END -->

    <!-- change status MODAL -->
    <div class="modal fade" id="change_status" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content status_border_bottom">
                <div class="modal-header p-0 justify-content-center modal_top">
                    <img src="assets/images/temp_img/status-back.png" class="delete_back">
                    <div class="mb-4">
                        <div class="mb-4 statuschange_icon m-auto">
                            <img class="" src="assets/images/svg2/modal-status-img.svg">
                        </div>
                        <h1 class="fs-26 fw-600 text_small mb_12 text-center" id="exampleModalToggleLabel2">Are you sure
                            want to change the status?</h1>

                    </div>
                </div>

                <div class="modal-footer p-0 justify-content-center">
                    <div class="gap_20 d-flex">
                        <button class="no_btn" data-bs-dismiss="modal" aria-label="Close">No</button>
                        <button class="yes_btn " (click)="updateStatus()" data-bs-dismiss="modal" aria-label="Close">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- change status MODAL END -->